{% extends "superadmin/db/base_db.html" %}
{% load bootstrap3 %}
{% block "final_contents" %}

  <script>jQuery("#db_tab_prev").addClass("active")</script>


  <ul class="nav nav-tabs" role="tablist" id="db_common_menu_tab">
    <li class="active"><a href="#home" role="tab" data-toggle="tab">{% bootstrap_icon "home" %}</a></li>
    <li><a href="#domains" role="tab" data-toggle="tab">Domaines</a></li>
    <li><a href="#hazards" role="tab" data-toggle="tab">Dangers</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="home"></div>
    <div class="tab-pane" id="domains"></div>
    <div class="tab-pane" id="dangers"></div>
  </div>

{% block "db_prev_contents" %}

{% endblock %}

{% endblock %}